<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/plugins/layui/css/layui.css">
    <script src="__STATIC__/plugins/layui/layui.js"></script>
    <style>
        .header span{
            background: #009688;
            margin-left: 30px;
            padding: 10px;
            color: #ffffff;
        }
        .header div{
            border: solid 2px #009688;
            margin-top: 8px;
        }
        .header button{
            float: right;
            margin-top: -5px;
        }
    </style>
</head>
<body style="padding: 10px;">
    <div class="header">
        <span>影片列表</span>
        <button class="layui-btn layui-btn-sm" onclick="add()">添加</button>
        <div></div><!--管理员列表下面的一条横线-->
    </div>
    <div class="layui-form-item" style="margin-top: 10px;">
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="wd" placeholder="请输入影片名称搜索" value="{{$data.wd}}">
        </div>
        <button class="layui-btn layui-btn-primary" onclick="searchs()"><i class="layui-icon">&#xe615</i>搜索</button>
    </div>

<table class="layui-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>频道</th>
        <th>资费</th>
        <th>地区</th>
        <th>名称</th>
        <th>PV</th>
        <th>评分</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{volist name='data.data.lists' id='vo'}}
    <tr>
        <td>{{$vo.id}}</td>
        <td>{{:isset($data['labels'][$vo['channel_id']])?$data['labels'][$vo['channel_id']]['title']:''}}</td>
        <td>{{:isset($data['labels'][$vo['charge_id']])?$data['labels'][$vo['charge_id']]['title']:''}}</td>
        <td>{{:isset($data['labels'][$vo['area_id']])?$data['labels'][$vo['area_id']]['title']:''}}</td>
        <td>{{$vo.title}}</td>
        <td>{{$vo.pv}}</td>
        <td>{{$vo.score}}</td>
        <td>{{$vo.status == 0 ? '<span style="color: red;">下线</span>' : '<span style="color: green;">正常</span>'}}</td>
        <td>{{:date('Y-m-d H:i:s',$vo.add_time)}}</td>
        <td>
            <button class="layui-btn layui-btn-xs" onclick='add("{{$vo.id}}")'>编辑</button>
            <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="del({{$vo.id}})">删除</button>
        </td>
    </tr>
    {{/volist}}
    </tbody>
</table>

<div id="pages"></div>

<script type="text/javascript">
    layui.use(['layer', 'laypage'],function () {
        layer = layui.layer;
        $ = layui.jquery;
        laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'pages'
            ,count: {{$data.data.total}}
            ,limit: {{$data.pageSize}}
            ,curr: {{$data.page}}
            ,jump: function(obj, first){
                //首次不执行
                if(!first){
                    searchs(obj.curr);
                }
            }
        });
    });

    function add(id) {
        //iframe窗
        layer.open({
            type: 2,
            title: id > 0 ? '编辑影片' :'添加影片',
            shade: 0.3,
            area: ['800px', '500px'],
            content: ['/admins.php/admins/Video/add?id='+id]
        });
    }

    // 删除
    function del(id) {
        //询问框
        layer.confirm('确定要删除吗？', {
            icon:3,
            btn: ['确定','取消']
        }, function(){
            $.post('/admins.php/admins/Video/delete', {id: id}, function (res) {
                if (res.code > 0) {
                    layer.alert(res.msg, {icon: 2});
                } else {
                    layer.msg(res.msg);
                    setTimeout(function(){window.location.reload();},1000)
                }
            },'json');
        });
    }

    // 搜索
    function searchs(curpage) {
        var wd = $.trim($('#wd').val());
        var url = '/admins.php/admins/Video/index?page='+curpage;
        if (wd) {
            url += '&wd=' + wd
        }
        window.location.href=url
    }
</script>
</body>
</html>